<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Detalle de Comida</title>
</head>
<body>
<div class="container">
    <h1 align="center">TELEMEAL</h1>

    <img th:src="${detalle.strMealThumb}" class="card-img-top" alt="Imagen de categoría" style="display: block; margin: auto; width: 300px; height: auto;">

    <br>
    <form action="/anadirFavoritos" method="post" style="text-align: center;" onsubmit="showSuccessModal(event)">
        <input type="hidden" name="mealName" th:value="${detalle.strMeal}" />
        <button id="favButton" type="submit" class="btn btn-success">Añadir a Favoritos</button>
    </form>

    <h2 th:text="${detalle.strMeal}"></h2>
    <p th:text="'Categoría: ' + ${detalle.strCategory}"></p>
    <p th:text="'Área: ' + ${detalle.strArea}"></p>
    <p th:text="'Etiquetas: ' + ${detalle.strTags}"></p>
    <p th:text="'Instrucciones: ' + ${detalle.strInstructions}"></p>
    <p th:text="'Ingrediente 1: ' + ${detalle.strIngredient1}"></p>
    <p th:text="'Ingrediente 2: ' + ${detalle.strIngredient2}"></p>
    <p th:text="'Ingrediente 3: ' + ${detalle.strIngredient3}"></p>
    <p th:text="'Ingrediente 4: ' + ${detalle.strIngredient4}"></p>
</div>

<!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¡La comida se ha añadido a favoritos con éxito!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showSuccessModal(event) {
        event.preventDefault();
        $('#favButton').text('Favorito');
        $('#favButton').removeClass('btn-success').addClass('btn-secondary');
        $('#successModal').modal('show');

        setTimeout(() => {
            event.target.submit();
        }, 2000);
    }
</script>
</body>
</html>
